hr .divider {
	margin: auto;
	width: 431px;
}


.jumbotron {
    padding: 0;
    margin: 0;
	height: 500px;
    width: 100%;
    padding-top: 6rem;
    /* background-color: #f7f2f2; */
	background-image: url('img/project/3.jpg');
	background-attachment: fixed;
    /* filter: grayscale(1); */
    opacity: 0.8 !important;
}

.jumbotron p {
	color: rgb(255, 255, 255);
	text-shadow: 5px 6px 3px rgb(0, 0, 0);
}

.jumbotron img {
	margin: 10px 0;
}



/* OVERLAY */
.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 10);
	z-index: 99999;
	text-align: center;
}

.overlay:target {
	padding: 200px;
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .6);
	padding: 100px;
}

.overlay img {
	width: auto;
	height: auto;
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);   
}

/* For tab: */
@media only screen and (max-width: 1000px) {
	.overlay img {
	    max-height: 100%;
	    box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);   
	    }
}
/*TAB*/

/* For mobile phones: */
@media only screen and (max-width: 900px) {
	.overlay:target {
		padding: 100px;
	}

	.overlay img {
		width: 100%;
		height: auto;
		margin-top: 100px;
    	max-height: 100%;
    	box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);   
    	}
  	.overlay:target .close {
	    margin-top: 90px;
		animation: slideDownFade .5s .5s forwards;
		}
	}
/* PHONE*/

.overlay:target img {
    animation: zoomDanFade .5s;
}

.overlay .close {
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: rgb(43, 43, 43);
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 1;
}

.overlay .close:hover {
    top: 66px;
    color: rgb(121, 120, 120);
    background-color: white;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

h1 {
	color: azure;
	text-shadow: 1px 3px 3px rgb(1,1,1,1.6);
}

.p-tengah{
	opacity: 0;
	transform: translate(0, -60px);
	transition: .5s;
	overflow-y: hidden;
}

.p-tengah.p-Muncul{
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 10px;
}

.bagian-kiri,  .bagian-kanan {
	opacity: 0;
	transform: translate(-160px, -100px);
	margin-top: 20px;
	transition: 1.3s;
}

.bagian-kanan {
	transform: translate(180px, -170px);
	margin-top: 20px;
	transition: 1.5s;
}

.bagian-kiri.b-Muncul, .bagian-kanan.b-Muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.services {
	background-image: url('img/project/3.jpg');
	background-attachment: fixed;
    /* filter: grayscale(1); */
    opacity: 0.8 !important;
}

section {
	opacity: 0;
    padding-top: 5rem;
}

/*SCREEN Phone*/
@media only screen and (max-width: 380px) {

	body {
		width: 137%;
	}

	#project img {
		margin: 100px;
	}

	section .img {
		margin: auto;
		width: 460px;
	}
}
/*End*/

.card-panel {
	height:510px;
}

.card-panel img {
	height: 280px ;
}

section .contact {
	opacity: 0;
    padding-top: 5rem;
	margin-bottom: 90px;
}

section.muncul {
	opacity: 1;
}

.button a img{
	position: fixed;
	margin: 10px;
	bottom: 50px;
	width: 800px;
	height: 90px;
}

.button a .wa {
	color: black;
	width: 2000px;
}

footer {
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* A N I M A S I*/
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}
